@media screen and (max-width: 1010px) { 
    .main-header .logo-wrap {
        margin-left: unset !important;
    }

    .ac-btn, input[type=submit], input[type=reset], input[type=button], button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce input[type=submit].button, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt {
        margin: 0 5px !important;
    }

    .sec-feature-figure, .sec-feature-figure-img {
        right: 0 !important;
        left: unset !important;
    }

    .sec-feature {
        padding-right: 7.556em !important;
        padding-left: unset !important;
    }

    .owl-carousel .owl-item {
        float: right !important;
    }

    .main-header-btns .ac-btn-h {
        float: right !important;
        margin-right: 0.222em !important;
        margin-left: unset !important;
    }

    .mobile-menu .close-menu {
        left: 3.333em !important;
        right: unset !important;
    }

    .mobile-menu li > a:first-child:not(.ac-btn) {
        padding-left: 3.222em !important;
        padding-right: unset !important;
    }

    .mobile-menu .mobile-arrow {
        left: 0 !important;
        right: unset !important;
    }

    .footer-creds .logo-wrap {
        float: none !important;
        margin-right: 0 !important;
        margin-left: unset !important;
    }
}


@media screen and (max-width: 960px) { 

 
@media screen and (max-width: 768px) {

}

 
@media screen and (max-width: 480px) { 

}